<!DOCTYPE html>
<html>
<head>
  <title>Кадри</title>
</head>
<body>
  <h1>База даних робітників</h1>
<form method="POST" action="/unit">
<br>
      <input type="submit" value="Підрозділи">
</form>
<form method="POST" action="/position">
<br>
      <input type="submit" value="Посади">
</form>
<form method="POST" action="/order">
<br>
      <input type="submit" value="Накази">
</form>
<form method="POST" action="/">
<br>
      <input type="text" name="name1" placeholder="ПІБ" value="">
      <input type="text" name="age1" placeholder="Рік народження" value="">
      <input type="text" name="address1" placeholder="Адреса" value="">
      <input type="text" name="unit1" placeholder="Підрозділ" value="">
      <input type="text" name="position1" placeholder="Посада" value="">
      <input type="submit" value="Додати робітника">
</form>
<form method="POST" action="/">
<br>
      <input type="text" name="name2" placeholder="ПІБ до зміни" value="">
      <input type="text" name="name3" placeholder="ПІБ" value="">
      <input type="text" name="age2" placeholder="Рік народження" value="">
      <input type="text" name="address2" placeholder="Адреса" value="">
      <input type="text" name="unit2" placeholder="Підрозділ" value="">
      <input type="text" name="position2" placeholder="Посада" value="">
      <input type="submit" value="Змінити дані">
<br>
</form>
<form method="POST" action="/">
<br>
      <input type="text" name="name4" placeholder="ПІБ" value="">
      <input type="submit" value="Видалити дані">
<br>
</form>
{add}
</body>
</html>