<!DOCTYPE html>
<html>
<head>
  <title>Кадри</title>
</head>
<body>
  <h1>База даних посад</h1>
<form method="POST" action="/">
<br>
      <input type="submit" value="Робітники">
</form>
<form method="POST" action="/unit">
<br>
      <input type="submit" value="Підрозділи">
</form>
<form method="POST" action="/order">
<br>
      <input type="submit" value="Накази">
</form>
<form method="POST" action="/position">
<br>
      <input type="text" name="name1" placeholder="Назва" value="">
      <input type="submit" value="Додати посаду">
</form>
<form method="POST" action="/position">
<br>
      <input type="text" name="name2" placeholder="Назва до зміни" value="">
      <input type="text" name="name3" placeholder="Назва" value="">
      <input type="submit" value="Змінити або видалити дані">
<br>
</form>
{add}
</body>
</html>