<!DOCTYPE html>
<html>
<head>
  <title>Кадри</title>
</head>
<body>
  <h1>База даних підрозділів</h1>
<form method="POST" action="/">
<br>
      <input type="submit" value="Робітники">
</form>
<form method="POST" action="/position">
<br>
      <input type="submit" value="Посади">
</form>
<form method="POST" action="/order">
<br>
      <input type="submit" value="Накази">
</form>
<form method="POST" action="/unit">
<br>
      <input type="text" name="name1" placeholder="Назва" value="">
      <input type="text" name="count1" placeholder="Кількість штатних одиниць" value="">
      <input type="submit" value="Додати підрозділ">
</form>
<form method="POST" action="/unit">
<br>
      <input type="text" name="name2" placeholder="Назва до зміни" value="">
      <input type="text" name="name3" placeholder="Назва" value="">
      <input type="text" name="age1" placeholder="Кількість штатних одиниць" value="">
      <input type="submit" value="Змінити дані">
<br>
</form>
<form method="POST" action="/unit">
<br>
      <input type="text" name="name4" placeholder="Назва" value="">
      <input type="submit" value="Видалити дані">
<br>
</form>
{add}
</body>
</html>