<!DOCTYPE html>
<html>
<head>
  <title>База даних постачальників</title>
</head>
<body>
  <h1>База даних постачальників</h1>
<form method="POST" action="/">
<br>
      <input type="text" name="name1" placeholder="Назва постачальника" value="">
      <input type="text" name="contacts1" placeholder="Контактні дані" value="">
      <input type="submit" value="Додати постачальника">
</form>
<form method="POST" action="/">
<br>
      <input type="text" name="item_name2" placeholder="Назва товару" value="">
      <input type="text" name="name2" placeholder="Назва постачальника" value="">
      <input type="submit" value="Додати товар">
</form>
<form method="POST" action="/">
<br>
      <input type="text" name="item_name3" placeholder="Назва товару" value="">
      <input type="text" name="name3" placeholder="Назва постачальника" value="">
      <input type="submit" value="Перевірка постачання товару">
</form>
<form method="POST" action="/">
<br>
      <input type="text" name="item_name4" placeholder="Назва товару" value="">
      <input type="submit" value="Всі постачальники за товаром">
</form>
<form method="POST" action="/">
<br>
      <input type="text" name="name5" placeholder="Назва постачальника" value="">
      <input type="submit" value="Всі товари за постачальником">
</form>
{add}
</body>
</html>