<!DOCTYPE html>
<html>
<head>
  <title>База даних пасажирів</title>
</head>
<body>
  <h1>База даних пасажирів</h1>
<form method="POST" action="/route">
<br>
      <input type="submit" value="Додати маршрут">
</form>
<form method="POST" action="/pass">
<br>
      <input type="submit" value="Додати пасажира">
</form>
<form method="POST" action="/">
<br>
      <input type="text" name="name1" placeholder="Прізвище пасажира" value="">
      <input type="text" name="age1" placeholder="Рік народження" value="">
      <input type="submit" value="Вартість проїзду пасажира">
</form>
{add}
</body>
</html>