<!DOCTYPE html>
<html>
<head>
  <title>Додати пасажира до бази даних</title>
</head>
<body>
  <h1>Додати пасажира до бази даних</h1>
<form method="POST" action="/route">
<br>
      <input type="submit" value="Додати маршрут">
</form>
<form method="POST" action="/">
<br>
      <input type="submit" value="Повернутися на головну">
</form>
<form method="POST" action="/pass">
<br>
      <input type="text" name="name1" placeholder="Прізвище пасажира" value="">
      <input type="text" name="age1" placeholder="Рік народження" value="">
      <input type="text" name="dep1" placeholder="Місто відправлення" value="">
      <input type="text" name="arr1" placeholder="Місто прибуття" value="">
      <input type="submit" value="Додати пасажира">
</form>
{add}
</body>
</html>