<!DOCTYPE html>
<html>
<head>
  <title>Додати маршрут до бази даних</title>
</head>
<body>
  <h1>Додати маршрут до бази даних</h1>
<form method="POST" action="/pass">
<br>
      <input type="submit" value="Додати пасажира">
</form>
<form method="POST" action="/">
<br>
      <input type="submit" value="Повернутися на головну">
</form>
<form method="POST" action="/route">
<br>
      <input type="text" name="dep1" placeholder="Місто відправлення" value="">
      <input type="text" name="arr1" placeholder="Місто прибуття" value="">
      <input type="text" name="dist1" placeholder="Довжина маршрута" value="">
      <input type="submit" value="Додати маршрут">
</form>
{add}
</body>
</html>